*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.section-heading{
    font-size:2rem;
}

.center{
        text-align:start;
        display:flex;
        flex-direction:column;
       align-items: center;
    }

main{
    width:75%;
    margin:auto;
}

header{
    width:100%;
    margin:auto;
}

header #nav-container{
    width: 90%;
    margin:0 auto;
    cursor: pointer;
}

h1{
    text-align:center;
    color:white;
    background-color:black;
    padding:2.5%;
}

h1, h2, h3{
    font-family: 'Lato', sans-serif;
}

 #nav-container ul li {
    padding:10px 15px;
    border-bottom:1px solid black;
    width:100%;
    /* background-color:red; */
    text-align:center;
    list-style-type: none;
    text-transform: capitalize;
    }

#nav-container a {
	/* margin:15px 30px; */
	text-decoration: none;
}

main {
    background-color:white;
    width:100%;
    /* margin:0 auto; */
}

.Details {
    background-color: lightgrey;
    border-bottom:black solid 1px;
    width:90%;
    margin:0 auto;
    text-align: center;
    padding: 5%;
}

.img-sizer{
    padding:2.5%;
}

.avatar{
    width:50%;
}

.quiz{
    width:100%;
}

section p {
    padding:2.5%;
     width:80%;
     font-family: 'Overpass', sans-serif;
     font-weight: 900;
     text-align:justify;
} 


.Details h3{
    padding:2.5%;
} 

#bottom-nav{
    margin-top:2%;
}

#bottom-nav ul{
    width:100%;
    display:flex;
    justify-content: space-around;
    list-style-type:none;
    font-size:50px;
    color:orange;
}

h4{
    font-weight:700;
}

/* button{
    width:150px;
    padding:2%;
    border-radius:16px;
    color:white;
    background-color:black;
    font-size:24px;
} */

.button-link{
    text-decoration: none;
    color:white;
    /* padding:7px 15px; */
    padding:2%;
    /* border-radius: 4px; */
    border-radius:16px;
    width: 175px;
    font-size:24px;
    background-color:black;
    text-align: center;
}

.button-link.project{
    width:175px;
    background-color:black;
    display:inline-block;
    margin:2%;
}

button a{
    text-decoration:none;
}

@media (min-width:768px){
    header #nav-container ul{
        display:flex;
        justify-content: space-around;
        padding:2.5%;
    }
    header #nav-container ul li{
        border: 1px solid black;
        border-radius:10px;
        background-color:orange;
        width:20%;
    }
    section p{
        width:50%;
    }
}

@media only screen and (min-width:1600px){
    header{
        display:flex;
        background-color:black;
        margin:0 auto;
        height:150px;
    }
        header #nav-container ul li{
        border: 1px solid black;
        border-radius:16px;
        background-color:orange;
        padding:20px;
        width:15%;
    }
    main{
        width:1200px;
        margin:auto;
    }
    
}

